


*{
box-sizing: border-box;
}

ol,
ul {
  margin:0
}

body {
  text-align: center;
  font-family:'Merriweather', serif;
  margin: 0 auto;
  padding: 0;
}

.section-1 {
  margin: 0 auto;
  padding: 0 1em;
}


h1 {
  font-size: 3em;

}

.nav{
  padding-left: 0;

}

.nav li,
.nav li a{
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 2px;
  margin-bottom: 6px;
  background-color: #f9f9f9;
  font-size: 1.2em;

}

.profile-pic {
  margin-top: 3em;
}

h2 {
  font-size: 1.3em;
  margin-top: 5em;
}

.content-header {
  font-size: 1.5em;

}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
}

.content-img {
  padding: 0 1em;
  width: 100%;
}


.section-2 {
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 0;

}

.contact-src a,
.contact-src {
  word-spacing: 1em;
  text-decoration: none;
  color: #000;
}

footer {
  border-top: 2px solid #ccc;
  background-color: #f9f9f9;

}

.footer-name {
  float: left;
  font-weight: bolder;
  /*display: inline-block;*/
}

footer p a{
  text-align: right;
  display: block;
  text-decoration: none;
  color: #000;
}




}
