


* {
box-sizing: border-box;    /*To stop content overlfow*/
}

.wrap {           /*Fixed content passing beyond screen size on mobile/tablet*/
width : 100vw;
height : 100vh;
}

ol,
ul {
  margin:0      /*Resetting margins*/
}

body {
  text-align: center;
  font-family:'Merriweather', serif; /* Google Font 1 of 2*/
  margin: 0 auto;     /*Resetting margins*/
  display: inline-block;
}

.section-1 {        /*split into sections to separate main content section
                       and contact and footer sections*/
  margin: 0 0 5em 0;
  padding: 0 1em;
}


h1 {
  font-size: 3em;

}

.nav{
  padding-left: 0;

}

.nav li,
.nav li a{
  list-style-type: none;
  text-decoration: none;
  color: #000;
  padding: 2px;
  margin-bottom: 6px;
  background-color: #f9f9f9;  /*Changed background color of nav and footer
                                will be seen throughout CSS*/
  font-size: 1.2em;

}

.profile-pic {
  margin-top: 3em;
  border-radius: 10%;
}

header p a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  margin-top: 5em;
}

.content-header {
  font-size: 1.5em;

}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif; /*Google font 2 of 2*/
  font-size: 1.5rem;
}

.content-img {
  padding: 0 1em;
  width: 100%;
}


.section-2 {
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;/* Gets rid of white bar at bottom that isn't a part of
                     body*/
  margin-top: 5em;
}

.contact-src {
  word-spacing: 1.5em;
}

.contact-src a {
  word-spacing: 1em;
  text-decoration: none;
  color: #000080; /* New Color of Text*/
  font-weight: bolder;
}

.contact-content {
  padding: 0 1rem;
}

footer {
  border-top: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 0 1rem;
  margin-top: 5em;


}

.footer-name {
  float: left;
  font-weight: bold;
  /*display: inline-block;*/
}

footer p,
.portrait-footer a {
  text-align: right;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.footer-nav {
  display: none;
}

header p a{
  display: inline-block; /*Needed for Transform to work*/
}

header p a:hover {
  transform: scale(1.1); /*Hover added for Treehouse link*/
}

.nav li a {
  display: inline-block;; /*Needed for transform to work on Nav*/
}

.nav li a:hover {
  transform: scale(1.1); /*Added transform to nav*/
}

.contact-src a {
  display: inline-block; /*Needed for transform to work*/
}

.contact-src a:hover {
  transform: scale(1.1); /*Added transform to contact links*/
}

.footer-nav li a:hover {
  transform: scale(1.1); /*Added transform to bottom nav*/
}
@media (min-width: 768px) {


    h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em 0 1em 0;
    background-color: #f9f9f9;
    }

    .nav {
    padding-left: 0;
    background-color: #f9f9f9;
    }

    header p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    padding-top: 8em;     /*Got padding # from dev tools to center content*/
    background-color: #f9f9f9;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10em;
    padding-left: 1em;
    }

    .profile-pic {
    margin-top: 3em;
    margin-right: 2em;
    margin-left: 1em;
    padding: 2em;
    background-color: #f1f1f1;
    border-radius: 50%;
    }

    .section-1 {
      padding: 0;
    }

    .tablet-header {
      background-color: #f9f9f9;
    }

    .nav li{
      display: inline;
      margin-right: 15px;

    }

    .profile-pic {
      float: right;
    }

    h2 {
      margin-bottom: 2em;
    }

    .tablet-content {
      display: inline-block;
      margin-bottom: 5em;
    }

    .card {                 /*card class needed to create rows*/
      display: inline-block;
      float: left;
      width: 50%;
      padding: 0 1em;

    }

    .portrait-footer a {
      display: none;
    }

    .footer-nav {
      display: inline;
      float: right;
    }

    .footer-nav li,
    .footer-nav li a {
      list-style-type: none;
      text-decoration: none;
      color: #000;
      background-color: #f9f9f9;
      font-size: 1.2rem;
      display: inline-block;
      margin-left: 1rem;
    }

}

@media (min-width: 1024px) {


      .profile-pic:hover {
        transform: scale(1.1); /*Hover added or profie pic*/
      }

      .tablet-content {
        display: inline;
      }

      .card {
        display: inline-block;
        float: left;
        width: 33.3%;     /*33.3 for 1/3 of the page*/
        padding: 0 1em;
  }
}
