


*{
box-sizing: border-box;

}

.nav li,
.nav li a{
  list-style-type: none;
  text-decoration: none;
}

.content-img {
  padding: 0 1em;
  width: 100%;
}

body {
  text-align: center;
  font-family:'Merriweather', serif;
}
}
